<div class="register-page">
  <div class="content">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
      <div class="text-center">
        <h2 class="app-name">Register</h2>
      </div>
      <mat-form-field class="w-100">
        <input matInput placeholder="First name" formControlName="firstName" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          matInput
          type="text"
          placeholder="Last name"
          formControlName="lastName"
        />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field class="w-100">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </mat-form-field>
      <button
        [disabled]="form.invalid || form.disabled"
        type="submit"
        mat-raised-button
        color="primary"
        class="w-100"
      >
        Register
      </button>
    </form>
  </div>
</div>
