.container {
  min-height: calc(100vh - (200px));
  width: 80%;
  margin: 10px auto;
  box-sizing: border-box;
  color: #000;
  font-weight: bold;
}
.w-100 {
  width: 100%;
}

.share-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  margin: 40px 0;
}

.wrap {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100%;
}

.wrap .name {
  width: 150px;
}

.wrap input {
  border-bottom: 4px solid #000;
  width: 65%;
}
