<header>
  <div class="logo">
    <a href="/">
      <img src="assets/img/logo.png" alt="Logo" />
    </a>
  </div>
  <nav>
    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Tasks</a
    >
  </nav>
  <div *ngIf="!visibleBtn()" class="auth_nav">
    <a routerLink="/auth/login">Login</a>
    <a routerLink="/auth/signup">Sign Up</a>
  </div>
  <div class="user-info" *ngIf="visibleBtn()">
    <app-user-popap
      [user]="currentUser$"
      (logout)="logout($event)"
    ></app-user-popap>
  </div>
</header>
